/* 
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blueviolet;
    
  } */

  .sideBarButton{
    position: fixed;
    top: 20px;
    left: 20px;
    border: solid 2px rgba(126, 147, 178, 0.282)
  }